name: CI

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        architecture:
          - system: x86_64-linux
            runner: ubuntu-latest
            name: x86_64
          - system: aarch64-linux
            runner: ubuntu-24.04-arm
            name: AArch64
    
    runs-on: ${{ matrix.architecture.runner }}

    steps:
      - uses: actions/checkout@v6

      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - uses: cachix/cachix-action@v16
        with:
          name: drakon64
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix-build -A iso -I nixos-config=live.nix

      - run: |
          ISO_FILE=(result/iso/*.iso)
          echo ISO_FILE=$ISO_FILE >> $GITHUB_ENV
          echo ISO_NAME=$(echo "$ISO_FILE" | sed -e 's/result\/iso\///' -e 's/.iso$//') >> $GITHUB_ENV
        if: github.ref == 'refs/heads/main'

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ISO_NAME }}
          path: ${{ env.ISO_FILE }}
          compression-level: 0
          if-no-files-found: error
        if: github.ref == 'refs/heads/main'
