name: CI

on:
  push:
    branches:
      - main
    paths:
      - "**.nix"
      - lon.lock
      - nixos/niri/config.kdl

  workflow_dispatch:

jobs:
  cosmic-ext:
    strategy:
      matrix:
        runs-on:
          - ubuntu-latest
          - ubuntu-24.04-arm

    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v6

      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - uses: cachix/cachix-action@v16
        with:
          name: drakon64
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix-build -A cosmic-ext-alternative-startup -A cosmic-ext-extra-sessions

  iso:
    needs:
      - cosmic-ext

    strategy:
      matrix:
        runs-on:
          - ubuntu-latest
          - ubuntu-24.04-arm

    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v6

      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - uses: cachix/cachix-action@v16
        with:
          name: drakon64
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix-build -A iso -I nixos-config=nixos/iso.nix

      - run: |
          ISO_FILE=(result/iso/*.iso)
          echo ISO_FILE=$ISO_FILE >> $GITHUB_ENV
          echo ISO_NAME=$(echo "$ISO_FILE" | sed -e 's/result\/iso\///' -e 's/.iso$//') >> $GITHUB_ENV
        if: github.ref == 'refs/heads/main'

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ISO_NAME }}
          path: ${{ env.ISO_FILE }}
          compression-level: 0
          if-no-files-found: error
        if: github.ref == 'refs/heads/main'

  qemu:
    needs:
      - cosmic-ext

    strategy:
      matrix:
        runs-on:
          - ubuntu-latest
          - ubuntu-24.04-arm

    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v6

      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - uses: cachix/cachix-action@v16
        with:
          name: drakon64
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix-build -A image -I nixos-config=nixos/qemu.nix

      - run: |
          QEMU_IMAGE=(result/iso/*.iso)
          echo QEMU_IMAGE=$ISO_FILE >> $GITHUB_ENV
          echo QEMU_IMAGE_NAME=$(echo "QEMU_IMAGE" | sed -e 's/result\///' -e 's/.iso$//') >> $GITHUB_ENV
        if: github.ref == 'refs/heads/main'

      - name: Upload QEMU image
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.QEMU_IMAGE_NAME }}
          path: ${{ env.QEMU_IMAGE }}
          compression-level: 0
          if-no-files-found: error
        if: github.ref == 'refs/heads/main'

  virtualbox:
    needs:
      - cosmic-ext

    runs-on:
      - Linux
      - X64
      - self-hosted

    steps:
      - uses: actions/checkout@v6

      - run: |
          sudo apt-get update
          sudo apt-get -y install qemu-system

      # TODO: Replace this with another action that supports KVM
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          determinate: false
          diagnostic-endpoint: ""

      - uses: cachix/cachix-action@v16
        with:
          name: drakon64
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix-build -A image -I nixos-config=nixos/virtualbox.nix

      - run: |
          VIRTUALBOX_APPLIANCE=(result/*.ova)
          echo VIRTUALBOX_APPLIANCE=$VIRTUALBOX_APPLIANCE >> $GITHUB_ENV
          echo VIRTUALBOX_APPLIANCE_NAME=$(echo "$VIRTUALBOX_APPLIANCE" | sed -e 's/result\///' -e 's/.ova//') >> $GITHUB_ENV
        if: github.ref == 'refs/heads/main'

      - name: Upload VirtualBox appliance
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.VIRTUALBOX_APPLIANCE_NAME }}
          path: ${{ env.VIRTUALBOX_APPLIANCE }}
          compression-level: 0
          if-no-files-found: error
        if: github.ref == 'refs/heads/main'
