name: CI

on:
  push:
    branches:
      - main
    paths:
      - "**.nix"
      - lon.lock
      - nixos/niri/config.kdl

  workflow_dispatch:

jobs:
  cosmic-ext:
    strategy:
      matrix:
        runs-on:
          - ubuntu-latest
          - ubuntu-24.04-arm

    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v6

      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - uses: cachix/cachix-action@v16
        with:
          name: drakon64
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix-build -A cosmic-ext-alternative-startup -A cosmic-ext-extra-sessions

  iso:
    needs:
      - cosmic-ext

    strategy:
      matrix:
        runs-on:
          - ubuntu-latest
          - ubuntu-24.04-arm

    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v6

      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - uses: cachix/cachix-action@v16
        with:
          name: drakon64
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix-build -A iso -I nixos-config=nixos/iso.nix

      - run: |
          ISO_FILE=(result/iso/*.iso)
          echo ISO_FILE=$ISO_FILE >> $GITHUB_ENV
          echo ISO_NAME=$(echo "$ISO_FILE" | sed -e 's/result\/iso\///' -e 's/.iso$//') >> $GITHUB_ENV
        if: github.ref == 'refs/heads/main'

      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ISO_NAME }}
          path: ${{ env.ISO_FILE }}
          compression-level: 0
          if-no-files-found: error
        if: github.ref == 'refs/heads/main'

  virtualbox:
    needs:
      - cosmic-ext

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - uses: nixbuild/nixbuild-action@v24
        with:
          nixbuild_token: ${{ secrets.nixbuild_token }}
          settings: |
            caches: cachix://drakon64
            access-tokens: cachix://drakon64=WRITE:${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix-build -A image -I nixos-config=nixos/virtualbox.nix --eval-store auto --store ssh-ng://eu.nixbuild.net

      - run: |
          VIRTUALBOX_APPLIANCE=(result/*.ova)
          echo VIRTUALBOX_APPLIANCE=$VIRTUALBOX_APPLIANCE >> $GITHUB_ENV
          echo VIRTUALBOX_APPLIANCE_NAME=$(echo "$VIRTUALBOX_APPLIANCE" | sed -e 's/result\///' -e 's/.ova//') >> $GITHUB_ENV
        if: github.ref == 'refs/heads/main'

      - name: Upload VirtualBox appliance
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.VIRTUALBOX_APPLIANCE_NAME }}
          path: ${{ env.VIRTUALBOX_APPLIANCE }}
          compression-level: 0
          if-no-files-found: error
        if: github.ref == 'refs/heads/main'
