name: CI

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: samueldr/lix-gha-installer-action@v2025-10-27

      - uses: cachix/cachix-action@v16
        with:
          name: drakon64
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix-build -I nixos-config=live.nix
